*
{
	margin: 0;
	padding: 0;
}

#sidebar
{
	background: #3b3b3b;
}

#sidebar h2
{
	padding: 10px;
}

#sidebar nav ul li
{
	display: inline-block;
	padding: 10px;
}

#sidebar nav ul li.active
{
	background: #7c7c7c;
}
