/** GLOBAL RESET **/
*
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.no-spacing, body
{
    padding: 0;
    margin: 0;
}

.topSlide
{
    height: 0;
    overflow: hidden;
}

body
{
    background-color: #FAFAFA;   
}

.clickable
{
    cursor: pointer;
}

.left-margin
{
    margin-left: 7px;
}

.auto-height
{
    height: auto
    min-height: 0;
    max-height: 0;
}

.auto-width
{
    width: auto;
    min-width: 0;
    max-width: 0;
}

.full-width
{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.half-width
{
    width: 50%;
}

.half-width.nofix
{
    width: 750px;
}

.inline
{
    display: inline;
}

.hidden
{
    display: none;
}

.glfw
{
    min-width: 26px;
    width: 26px;
}

.space.bottom
{
    margin-bottom: 5px;
}

.space.top
{
    margin-top: 5px;
}

@media only screen and (max-device-width:767px)
{
    .phone-nofloat
    {
        float: none;
    }
    
    .phone-space.bottom
    {
        margin-bottom: 5px;
    }
    
    .phone-space.top
    {
        margin-top: 5px;
    }
}

/** HEADER **/
header
{
    background-color: #394046;
    color: #ffffff;
    padding: 10px;
    height: 70px;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

/** SIDEBAR **/
section.sidebar
{
    position: fixed;
    background-color: #4F5A61;
    color: #ffffff;
    padding: 10px;
    padding-top: 80px;
    width: 220px;
    top: 0;
    bottom: 0;
    z-index: 1;
    min-height: 100%;
}

section.sidebar nav ul li
{
    display: block;
    width: 100%;
    list-style: none;
}

section.sidebar nav ul li.haschildren ul
{
    -webkit-transition: height 0.4s ease;
    -moz-transition: height 0.4s ease;
    -ms-transition: height 0.4s ease;
    -o-transition: height 0.4s ease;
    transition: height 0.4s ease;
    height: 0;
    overflow: hidden;
}

section.sidebar nav ul li.haschildren:hover ul
{
    height: auto;
}

section.sidebar nav ul li a
{
    display: block;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}

section.sidebar nav ul li a:hover, section.sidebar nav ul li a.current
{
    border-radius: 5px;
    background-color: #6F7C83;
}

section.sidebar hr
{
    border-top: 1px solid #ffffff;   
}

/** CONTENT **/
section.content
{
    padding: 10px;
    padding-top: 80px;
    padding-left: 230px;
    float: left;
}

.fixed .entry
{
    min-width: 300px;
    min-height: 122px;
}

.entry
{
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    float: left;
    border: 1px solid #E6E6E6;
    margin-right: 5px;
    margin-bottom: 5px;
}

.disabled
{
    color: #B54B4B;
}

.pic
{
    position: relative;
    height: 100px;
    width: 100px;
    overflow: hidden;
}

.remove-pic
{
    opacity: .75;
    position: absolute;
    top: 0;
    right: 0;
}

.pic:hover .remove-pic
{
    opacity: 1;
}

.robs { margin-right: 5px; margin-left: 5px; }


input[type="search"]
{
    margin-bottom: 5px;
}